body{
    font-family:Lato, sans-serif;
    margin:auto;
}

header{
    border-bottom:1px solid #cccccc;
    background-color:rgb(249, 249, 249);
    padding-top:20px;
}

#google-logo h1{
    margin:0;
}

#google-logo h1 span{
    font-size:34px;
    letter-spacing:0px;
    margin:0;
    padding:0;
    float:left;
}

#google-logo h1 span:nth-child(1){
    color:blue;
    margin-left:10px;
}

#google-logo h1 span:nth-child(2){
    color:red;
}

#google-logo h1 span:nth-child(3){
    color:#f4c20d;
}

#google-logo h1 span:nth-child(4){
    color:blue;
}

#google-logo h1 span:nth-child(5){
    color:green;
}

#google-logo h1 span:nth-child(6){
    color:red;
}



#google-logo{
    display:inline;
}


.search-bar{
    background-color:white;
    border:1px solid rgb(214, 214, 214);
    margin:auto;
    box-shadow: 0px 1px 1px 0px #888888;
    float:left;
    display:flex;
    margin-left:2%;
    align-content: stretch;
    width:35%;
}

.search-bar input[type="text"]{
    border:none;
    margin:10px;
    flex:8;
}

.search-bar img{
    flex:2;
}

.sign_apps{
    display:flex;
    float:right;
    align-content:center;
}

.sign_apps img{
    margin-right:20px;
    align-self:center;
}
.sign_apps a{
    background-color:rgba(61, 71, 214, 0.836);
    color:white;
    padding:8px;
    margin-right:20px;
    text-decoration:none;
    font-size:14px;
}

.clr{
    content:"";
    clear:both;
}
header ul{
    margin:30px 0px 0px 150px;
    font-size:14px;
    margin-bottom:15px;
    float:left;
}

header ul a{
    text-decoration:none;
    color:rgb(92, 91, 91);
    text-align:center;
    margin-right:10px;
}


header ul a:hover{
    color:black;
}


header ul li{
    list-style:none;
    display:inline;
    width:100%;
}

main{
    width:33%;
    margin: 0 0 0 11%;
}
main h3{
    font-weight:normal;
    margin-top:50px;
}

/* VIDEO BLOCK */


.videos-container{
    display:flex;
}

.video-block{
    display:flex;
    flex-direction:column;
    flex:1;
    margin-right:10px;
    border:1px solid rgb(238, 238, 238);
    justify-content:space-between;
    box-shadow: 0px 1px 1px 0px #888888;
}

.video-footer{
    display:flex;
    flex:1;
    padding-left:15px;
}
.inblock-link{
    padding:0 15px 0 15px;
    text-decoration:none;
}
.inblock-link:hover{
    text-decoration:underline;
}

.clickable-area{
    flex:15;
    text-decoration:none;
}
.video-author{
    flex:1;
    padding-left:15px;
}
.video-source{
    color:rgb(27, 134, 27);
    font-size:14px;
}

.video-date{
    font-size:14px;
}

